*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #183A4A;
    --bg_fizzbuzz: #DE5471;
    --bg_buzz: #F9D277;
    --bg_fizz: #61D2A4;
    --regular: #3D88AE;
}

body{
    background-color:var(--bg-color) ;
}

.square{
    height: 100px;
    width: 100px;
    background-color: red;
    margin:1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.bg_fizzbuzz{
    background-color: var(--bg_fizzbuzz);
}

.bg_buzz{
    background-color: var(--bg_buzz);
}

.bg_fizz{
    background-color: var(--bg_fizz);
}

.regular_bg{
    background-color: var(--regular);

}
