*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #183A4A;
}

body{
    background-color:var(--bg-color) ;
}

.square{
    height: 100px;
    width: 100px;
    background-color: red;
    margin:1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}


